$font: "Noto Sans TC", sans-serif;
$colorBlock: #000;
$colorWhite: #fff;
$color_1: #9d9ea0;
$color_2: #c4c4c4;
$color_3: #030406;
$color_4: rgba(223, 222, 211, 0.192);
$color_5: #5e5e5e;

$color_Round: #eadfdf;
$color_Round2: #c4c4c4;

$widthNum: 960px;
$pieWidth: 130px;
$pieWidthSmall: 30px;
